body {
    font-family: Arial, Helvetica, sans-serif;
      background: white;
      --wave: cubic-bezier(0.364, 0, 0.636, 1);
}

 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ App View STYLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
 app-view {
     display: block;
 }

 app-view[loading] main,
 app-view:not([page=trailer]) .trailer,
 app-view:not([page=ranks]) leader-board,
 app-view:not([page=about]) about-page,
 app-view:not([page=credits]) credits-page {
     opacity: 0;
     pointer-events: none;
 }

 main > * {
    transition: 0.5s var(--wave) opacity;
 }

 .close {
    position: fixed;
    top: 1em;
    left: 1em;
    font-size: 2em;
    cursor: pointer;
    color: white;
}

 main {
     opacity: 1;
     transition: 1s var(--wave);
 }

 .home {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     opacity: 1;
     --px: 0;
     --py: 0;
 }

 .relative {
     position: relative;
 }


 /* CANVAS STYLES */
 @media (max-aspect-ratio: 4000/2250) {
    canvas {
        height: 102vh;
    }
}

@media (min-aspect-ratio: 4000/2250) {
    canvas {
        width: 102vw;
    }
}
 
 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Clickbox Icon Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
 .icon,
 .clickbox {
     --c1x: 0;
     --c1y: 0;
     --c2x: 0;
     --c2y: 0;
     --h: 0;

     position: absolute;
     height: calc(100% * var(--h));
     transform: translate(-50%, -50%);
 }

 .clickbox {
     top: calc(var(--c1y) * 100%);
     left: calc(var(--c1x) * 100%);
     opacity: 0;
 }

 .icon {
     top: calc(100% * var(--c2y) * var(--py) + 100% * var(--c1y) * (1 - var(--py)));
     left: calc(100% * var(--c2x) * var(--px) + 100% * var(--c1x) * (1 - var(--px)));
 }

 .icon[name='tv'],
 .icon[name='cf'],
 .icon[name='ct'],
 .icon[name='well'] {
     opacity: 0;
     transition: 0.1s ease transform;
 }

 .icon[name='cf'][mouseover],
 .icon[name='ct'][mouseover] {
     opacity: 1;
 }

 .icon[name='well'][mouseover] {
     opacity: 1;
     transform: translate(-50%, -50%) scale(1.2) rotate(8deg);
 }

 .icon[name='tv'][mouseover] {
     opacity: 1;
     transform: translate(-50%, -50%) scale(1.3) rotate(8deg);
 }



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Trailer Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

 .trailer {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: #000000e6;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 1.5s var(--wave) opacity;
 }

 video {
     max-width: 100%;
     max-height: 100%;

 }



 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Credits Page Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 credits-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.3em;
    background: #009cf6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

 credits-page a {
     color: #ef1f0b;
     font-weight: bold;
     text-decoration: none;
 }

 h3 {
    margin: 0;
}


 /* GABRIELS LOGO STYLE */
 .logo {
     position: relative;
     width: 1.5em;
     height: 1.5em;
     display: inline-block;
     transform: translateY(25%);
 }

 .logo video {
     position: absolute;
     top: 6%;
     left: 6%;
     width: 86%;
     height: 86%;
 }

 .logo .logo-mask {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

 .logo .logo-mask .mask {
     fill: #009cf6;
 }

 .logo .logo-mask.placeholder .dummy {
     fill: #e00150;
     stroke: #e00150;
 }

 .logo .logo-mask .dummy {
     fill: transparent;
     stroke: none;
     transition: 0.4s cubic-bezier(0.4, 0, 0.6, 1) fill;
 }



 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Leader Board Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
 leader-board {
   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    --d: 2s;
}

leader-board:not([mode="loading"]) #loader,
leader-board:not([mode="prompt"]) #input,
leader-board[mode] #table {
    opacity: 0;
    pointer-events: none;
}

leader-board .msg {
    font-size: 1em;
}

/* RETRO POPUP WINDOW STYLE */
.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: 0.5s var(--wave);
}
.head {
    border-right: 5px solid rgb(34, 42, 92);
    border-left: 5px solid rgb(184, 181, 244);
    border-top: 5px solid rgb(144, 144, 196);
    border-radius: 0.2vmin;
    background: rgb(38, 32, 223);
    color: white;
    padding: 2vmin;
    text-align: center;

}
.body {
   border-right: 5px solid rgb(98, 96, 96);
   border-bottom: 5px solid rgb(70, 68, 68);
   border-left: 5px solid rgb(214, 212, 212);
   border-radius: 0.2vmin;
   background: rgb(195, 193, 193);
   padding: 3vmin;
}


/* BUTTON STYLE */
b.btn {
    cursor: pointer;
}
.btn {
   border: 2px solid rgb(244, 237, 237);
   border-right: 2px solid rgb(144, 141, 141);
   border-bottom: 2px solid rgb(70, 68, 68);
   border-left: 2px solid rgb(221, 218, 218);
   background: rgb(214, 212, 212);
   border-radius: 0.3em;
   padding: 0.3em;
}


/* INPUT STYLE */
input {
    border: none;
    outline: none;
    font: inherit;
    max-width: 70vmin;
}


 #input .body {
     gap: 0.4em;
     display: flex;
     align-items: center;
 }
 

/* TABLE STYLE */
 table {
    border-collapse: collapse;
}

td {
    text-align: center;
}

tr * {
    border: 2px solid black;
}

th {
    border-bottom: 2px solid black;
}

 #table {
     width: 70vw;
     height: 80vh;
 }

 #table .body {
     overflow: scroll;
     height: 100%;
     flex-direction: column;
     align-items: stretch;
     display: flex;
     justify-content: space-between;
 }


 
 /* About Page Styles */
 about-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: block;

    background-image: url("./Assets/about/background.jpg");
    background-size: cover;
    background-position: center;

    --margin: 2em;
}


.page {
    padding: var(--margin);
    height: calc(100vh - 2 * var(--margin));
    width: calc(100vw - 2 * var(--margin));
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 100%;

}
.row img {
    width: calc(50% - 0.5em);
}

.page img.p2{
    width: 80%;
    filter: invert(1);
}

.slides {
    position: relative;
    height: 100%;
    width: 100%;
    --ts: 20s;
}
.slides img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0;
    animation: slides var(--ts);
    animation-iteration-count: infinite;
}
.slides img:nth-child(1){animation-delay: 0s;}
.slides img:nth-child(2){animation-delay: calc(var(--ts)/5);}
.slides img:nth-child(3){animation-delay: calc(2*var(--ts)/5);}
.slides img:nth-child(4){animation-delay: calc(3*var(--ts)/5);}
.slides img:nth-child(5){animation-delay: calc(4*var(--ts)/5);}

@keyframes slides {
    0% {opacity: 0;}
    3% {opacity: 1;}

    20% {opacity: 1;}
    23% {opacity: 0;}
    100% {opacity: 0;}
}